<?xml version="1.0"?>
<!--
/**
 *
 * @category    code
 * @package     CastleWeb_MageAdvanced
 * @author      Wesley Almeida <wesleyalmd@gmail.com>
 *
 */
-->
<config>
    <modules>
        <CastleWeb_MageAdvanced>
            <version>1.0.0</version>
            <depends>
            <!-- no dependencies -->
            </depends>
        </CastleWeb_MageAdvanced>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <CastleWeb_MageAdvanced>
                    <files>
                        <default>CastleWeb_MageAdvanced.csv</default>
                    </files>
                </CastleWeb_MageAdvanced>
            </modules>
        </translate>
    </adminhtml>
</config> 